
.All_card_container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Second_video_container {
    width: 95%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.Video_container {
    width: 350px;
    height: 450px;
    overflow: hidden;
}

.Main_video {
    width: 100%;
    height: auto;
    filter: brightness(50%);
}

.Video_container_absolute {
    width: 90%;
    position: absolute;
    z-index: 9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*  */

.Container_1 {
    width: 300px;
    height: 400px;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.Container_1:hover {
    background-color: white;
    box-shadow: 0px 4px 40px rgb(255, 255, 255);
    transition: 0.5s;
}

.Container_img_filter {
    width: 450px;
}

.Container_1:hover .Container_img_filter {
    transform: scale(1.2);
    transform: translateY(-100px);
    transition: 0.5s ease-in-out;
}

.proColor {
    color: #3674B5;
}

.Text_anima {
    opacity: 0;
}

.Container_1:hover .Text_anima {
    transform: translateY(-100px);
    transition: 0.5s ease-in-out;
    opacity: 1;
}

.Sunday_title {
    font-size: 10px;
}