
body {
    cursor: url('https://img.icons8.com/material-rounded/24/228BE6/blue-pointer.png') 3 3 , auto;
}

.Logo_intro {
    animation-name: Logo_animation;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes Logo_animation {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

.Main_logo_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #003d7d;
    position: fixed;
    z-index: 1;
    overflow: hidden;
}

.stop_load {
    display: none;
}

.Logo_title {
    letter-spacing: 10px;
    margin-top: 15px;
}

.Logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Loading_Session {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #3674B5;
    z-index: 1;
}

.Main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.Set_background {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes Scale_image {

    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes discripion_image {

    from {
        transform: translateY(120px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes social_image {

    from {
        transform: translateY(120px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }

}

.hero_Title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.first_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.SizeLogo {
    width: 150px;
}

.Hero_Banner {
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.min_nav {
    height: 20px;
    width: 100%;
}

.sizeFO {
    color: #FFC229;
}

 .Main_nav {
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 50px #A6A6A6;
}

.feature_icon {
    width: 20px;
    height: 20px;
}

.feature_container {
    width: 250px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    gap: 15px;
    filter: brightness(80%);
    transition: 0.5s ease;
}

.feature_container:hover {
    filter: brightness(100%);
}

.news_description {
    font-size: 10px;
    width: 100%;
    margin-left: 10px;
}

.Last_hero_banner {
    width: 60px;
    color: white;
}

.img_container {
    height: 40px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(683%) hue-rotate(4deg) brightness(115%) contrast(100%);
}

.Main_feature_container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 250px;
    gap: 3px;
}

.Main_nav img {
    width: 50px;
    height: 50px;
}

.dropColor {
    color: #3674B5;
    text-decoration: none;
}

.Main_nav button {
    background-color: #3674B5;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.socia_media_icon {
    width: 30px;
}

/*  */

.EAG {
    color: #FFC229;
}

.Main_First {
    height: 30px;
    background-color: #007bff;
}

.Main_nav_large {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Hero_Banner_Text {
    font-size: 70px;
    animation-name: Scale_image;
    animation-iteration-count: initial;
    animation-duration: 1s;
}

.hero_dicription {
    animation-name: discripion_image;
    animation-iteration-count: initial;
    animation-duration: 2s;
}

.socia_media_container {
    animation-name: social_image;
    animation-iteration-count: initial;
    animation-duration: 2s;
}

.fade_thrid {
    animation-name: Scale_image;
    animation-iteration-count: initial;
    animation-duration: 1s;
}

.socia_media_container {
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

/*  */

.Second_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Second_banner {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.img_size {
    width: 700px;
    height: auto;
    border-radius: 35px;
}

.Second_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bible_verse {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: rgb(0, 123, 255, 0.9);
    padding: 70px;
    margin-left: -80px;
}

.bible_limiter {
    width: 600px;
    color: white;
}

.bible_location {
    color: #FFC229;
    float: inline-end;
}

.Bible_icon_Container {
    background-color: #3674B5;
    border-radius: 50%;
    box-shadow: 0px 4px 40px rgb(255, 255, 255);
}

.icon_container {
    width: 300px;
    height: auto;
    display: flex;
}

.Previous_button {
    background-color: transparent;
    border: none;
    filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(683%) hue-rotate(4deg) brightness(115%) contrast(100%);
}

.Previous_button:hover {
    transition: 0.5s ease;
    transform: scale(1.4);
}

.Main_bible_icon {
    width: 40px;
}

/*  */

.Third_banner {
    width: 100%;
    height: 350px;
    background-color: #584B4B;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.Third_banner_title {
    font-size: 50px;
}

.Third_banner_number {
    font-size: 100px;
}

.Third_banner_number_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Third_banner_number_banner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.Third_font {
    font-size: 20px;
}

/*  */

.fourth_icon { 
    filter: brightness(0) saturate(100%) invert(16%) sepia(60%) saturate(7468%) hue-rotate(357deg) brightness(97%) contrast(120%);
    width: 30px;
    height: 30px;
}

.Feature_News {
    width: 50%;
    height: 650px;
    background-color: rgb(228, 228, 228);
    padding: 15px;
    overflow-y: auto;
}

.socia_News {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.socia_flex {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.Img_width {
    width: 150px;
    height: auto;
}

.up_coming_Event_container {
    width: 40%;
    height: 500px;
}

.First_card {
    background-color: white;
}

.First_Date_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.First_Date_container div img {
    filter: invert(37%) sepia(96%) saturate(7491%) hue-rotate(202deg) brightness(101%) contrast(101%);
    width: 50px;
}

.First_Date_container div h3 {
    
}

/*  */

.location {
    width: 50%;
}

.footer_map {
    width: 100%;
    border-radius: 10px;
    filter: brightness(70%);
}

.footer_map:hover {
    filter: brightness(100%);
    transition: 0.3s;
}

/*  */

.fiveth_banner {
    width: 100%;
    max-height: 450px;
}

/* .five_Img {

    filter: brightness(50%);
    overflow: hidden;
} */

.Footer_banner {
    height: 80vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.input_bar {
    width: 350px;
    height: 50px;
    border: none;
}

.position_input {
    width: 95%;
    height: 380px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}

.News_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.news_category {
    font-size: 13px;
}

.news_time {
    font-size: 9px;
}

.text_area {
    width: 100%;
    height: 230px;
}

.Footer_flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Card_container {
    padding: 100px 0px 70px 0px;
}

.Main_Icon {
    width: 60px;
    height: 60px;
}

.input_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.section_divder {
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
}