
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background: #3674B5;
}


body {
    cursor: url('https://img.icons8.com/material-rounded/24/228BE6/blue-pointer.png') 3 3 , auto;
}

.Main_logo_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #003d7d;
}

.Logo_title {
    letter-spacing: 10px;
    margin-top: 15px;
}

.Logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Loading_Session {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #3674B5;
    z-index: 1;
}

.Main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.Set_background {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_Title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.first_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.SizeLogo {
    width: 150px;
}

.Hero_Banner {
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.min_nav {
    height: 20px;
    width: 100%;
}

.sizeFO {
    color: #FFC229;
}

 .Main_nav {
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 50px #A6A6A6;
}

.feature_icon {
    width: 20px;
    height: 20px;
}

.feature_container {
    width: 250px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    gap: 15px;
    filter: brightness(80%);
    transition: 0.5s ease;
}

.feature_container:hover {
    filter: brightness(100%);
}

.Last_hero_banner {
    width: 60px;
    color: white;
}

.img_container {
    height: 40px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(683%) hue-rotate(4deg) brightness(115%) contrast(100%);
}

.Main_feature_container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 250px;
    gap: 3px;
}

.Main_nav img {
    width: 50px;
    height: 50px;
}

.dropColor {
    color: #3674B5;
    text-decoration: none;
}

.Main_nav button {
    background-color: #3674B5;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.socia_media_icon {
    width: 30px;
}

/*  */

.EAG {
    color: #FFC229;
}

.Main_First {
    height: 30px;
    background-color: #007bff;
}

.Main_nav_large {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Hero_Banner_Text {
    font-size: 70px;
}

.socia_media_container {
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

/*  */

.Second_banner_Container {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Second_container {
    width: 100%;
    height: 100vh;
}

.Second_banner {
    height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(100%);
    overflow: hidden;
}

.Card_img {
    width: 100px;
}

.bible_verse {
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.bible_verse_title {
    font-size: 80px;
}

.bible_limiter {
    width: 600px;
    text-align: center;
    background-color: white;
    padding: 20px;
}

.bible_location {
    color: #FFC229;
    float: inline-end;
}

.Bible_icon_Container {
    background-color: #3674B5;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 4px 40px rgb(255, 255, 255);
}

.icon_container {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: self-start;
}

.Previous_button:hover {
    transition: 0.5s ease;
    transform: scale(1.4);
}

.Main_bible_icon {
    width: 40px;
}

/*  */

.Third_banner {
    width: 100%;
    height: 300px;
    background-color: #584B4B;
    overflow: hidden;
}

.Third_banner_title {
    font-size: 50px;
}

.Third_banner_number {
    font-size: 100px;
}

.Third_banner_number_banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.Third_banner_number_banner_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Third_font {
    font-size: 20px;
}

/*  */

.fourth_icon { 
    filter: brightness(0) saturate(100%) invert(16%) sepia(60%) saturate(7468%) hue-rotate(357deg) brightness(97%) contrast(120%);
    width: 50px;
}

/* .youtube {
    width: 450px;
} */

.video_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*  */

.location {
    width: 50%;
}

.footer_map {
    width: 100%;
    border-radius: 10px;
    filter: brightness(70%);
}

.footer_map:hover {
    filter: brightness(100%);
    transition: 0.3s;
}

/*  */

.fiveth_banner {
    width: 100%;
    max-height: 450px;
}

/* .five_Img {

    filter: brightness(50%);
    overflow: hidden;
} */

.Footer_banner {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input_bar {
    width: 350px;
    height: 50px;
    border: none;
}

.position_input {
    width: 95%;
    height: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.Image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
}

.text_area {
    width: 100%;
    height: 300px;
}

.Footer_flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Previous_button {
    background-color: transparent;
    border: none;
    filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(683%) hue-rotate(4deg) brightness(115%) contrast(100%);
}

.Card_container {
    padding: 100px 0px 70px 0px;
}

.Main_Icon {
    width: 60px;
    height: 60px;
}