
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background: #3674B5;
}


body {
    cursor: url('https://img.icons8.com/material-rounded/24/228BE6/blue-pointer.png') 3 3 , auto;
}

.Main_logo_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #003d7d;
}

.Logo_title {
    letter-spacing: 10px;
    margin-top: 15px;
}

.Logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Loading_Session {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #3674B5;
    z-index: 1;
}

.first_container {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.SizeLogo {
    width: 150px;
}

.Logo_intro {
    
}

.Hero_Banner {
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.min_nav {
    height: 50px;
    width: 100%;
}

.sizeFO {
    color: #FFC229;
}

.Main_nav {
    height: 100px;
    width: 1300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 50px #A6A6A6;
    margin-top: 30px;
}

.Main_nav img {
    width: 80px;
    height: 80px;
}

.dropColor {
    color: #3674B5;
    text-decoration: none;
}

.Main_nav button {
    background-color: #3674B5;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.socia_media_icon {
    width: 50px;
}

/*  */

.Main_nav_Container {
    
}

.EAG {
    color: #FFC229;
}

.Main_nav_large {
    display: flex;
    flex-direction: column;
}

.Hero_Banner_Text {
    font-size: 100px;
    animation: create linear;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.Hero_Title_padding {
    height: 400px;
}

.socia_media_container {
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

/*  */

.Second_banner_Container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Second_container {
    width: 100%;
    height: 100vh;
}

.Second_banner {
    background-image: url('');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(100%);
    overflow: hidden;
}

.Second_banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.Main_Card {
    width: 255px;
    height: 245px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 40px rgb(255, 255, 255);
    transition: 0.5s;
    transform: scale(1);
}

.Main_Card:hover {
    transform: scale(1.1);
}

.Card_img {
    width: 100px;
}

.Card_container {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
    position: relative;
}

.bible_verse {
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.bible_verse_title {
    font-size: 80px;
}

.bible_limiter {
    width: 600px;
    text-align: center;
    background-color: white;
    padding: 20px;
}

.bible_location {
    color: #FFC229;
    float: inline-end;
}

.Bible_icon_Container {
    background-color: #3674B5;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 4px 40px rgb(255, 255, 255);
}

.icon_container {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: self-start;
}

.Previous_button:hover {
    transition: 0.5s ease;
    transform: scale(1.4);
}

.Main_bible_icon {
    width: 40px;
}

/*  */

.Third_banner {
    width: 100%;
    height: 300px;
    background-color: #584B4B;
    overflow: hidden;
}

.Third_banner_title {
    font-size: 50px;
}

.Third_banner_number {
    font-size: 100px;
}

.Third_banner_number_banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.Third_banner_number_banner_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Third_font {
    font-size: 20px;
}

/*  */

.fourth_icon { 
    filter: brightness(0) saturate(100%) invert(16%) sepia(60%) saturate(7468%) hue-rotate(357deg) brightness(97%) contrast(120%);
    width: 50px;
}

/* .youtube {
    width: 450px;
} */

.video_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*  */

.location {
    width: 50%;
}

.footer_map {
    width: 100%;
    border-radius: 10px;
    filter: brightness(70%);
}

.footer_map:hover {
    filter: brightness(100%);
    transition: 0.3s;
}

/*  */

.fiveth_banner {
    width: 100%;
    max-height: 450px;
}

/* .five_Img {

    filter: brightness(50%);
    overflow: hidden;
} */

.Footer_banner {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input_bar {
    width: 350px;
    height: 50px;
    border: none;
}

.position_input {
    width: 95%;
    height: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.Image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
}

.text_area {
    width: 100%;
    height: 300px;
}

.Footer_flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Previous_button {
    background-color: transparent;
    border: none;
    filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(683%) hue-rotate(4deg) brightness(115%) contrast(100%);
}

.Card_container {
    padding: 100px 0px 70px 0px;
}

.Main_Icon {
    width: 60px;
    height: 60px;
}