{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Service</title>

    <link rel="shortcut icon" type="x-icon" href="{% static 'IMG/Logo/logo.jpg' %}">

    <link rel="stylesheet" href="{% static 'design/Service.css' %}">

</head>
<body>

    {% for Service_imgs in Service_img %}

        <div class="Service_width" style="background-image: url(' {{ Service_imgs.Picture.url }} ');">

            <div class="All_container">

                <div>

                    <hr>

                    <h1>ASSEMBLE OF GOD CHURCH</h1>

                </div>

            </div>

        </div>

    {% endfor %}

</body>
</html>