
body {
    overflow-x: hidden;
}

.BeforeNav {
    background-color: #578FCA;
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.HighNav {
    color: white;
    font-size: 15px;
}

.HighNavSocialMedia {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(175deg) brightness(104%) contrast(107%);
    width: 20px;
}

.BeforeNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*  */

.MainNavBar {
    background-color: white;
    width: 90%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.NavLogo {
    width: 70px;
}

.HeroBannerImg {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.HeroIMG{
    background-image: url(https://z-p3-scontent.fadd2-1.fna.fbcdn.net/v/t39.30808-6/476008349_670374318647101_8293330941788619199_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFsm0FOlRjjeCOwwi6eZAhaCtS15rPKP8gK1LXms8o_yE3SWOvyv4NeeAfzWudyziesOJhF8Xh8guv0JrWnHOpK&_nc_ohc=R9ZsXlbaNGQQ7kNvgETg8YU&_nc_oc=AdgS3owK0QeO66MqKJKUelHPoL0KjcJSX36TMU9C9pD-nWOOCttOvCVk6pOwaDUN56Y&_nc_zt=23&_nc_ht=z-p3-scontent.fadd2-1.fna&_nc_gid=A1WXnMmHj6NiAfRBem9xkJJ&oh=00_AYCxa79kcNr--FW1pqLF_ZnShizbOycphR2Nem8_rET9JQ&oe=67AD4272);
    width: 100%;
    height: 98vh;
    position: absolute;
    padding: 20px;
}

.centerNav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.HeroTitle {
    font-size: 100px;
    padding-left: 100px;
    padding-top: 60px;
}

.CenterTitle {
    color: #FF9100;
}

.TitleColor {
    color: #3674B5;
}

.btncolor {
    background-color: #3674B5;
}