{% load static %}

<!DOCTYPE html>
<html lang="en">

    {% include "Include/IndexHead.html" %}

<body>

    <div class="All_Container">

        <!-- <div class="Loading_Session d-flex justify-content-center align-items-center">

            <img class="SizeLogo" src="{% static 'IMG/Logo/logo.jpg' %}" alt="">

        </div> -->


        <div class="Hero_Banner">


            <div class="min_nav d-flex justify-content-center align-items-center gap-4">

                <p class="roboto m-0 text-light">For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life</p>

                <h5 class="sizeFO roboto m-0">John 3:16</h5>

            </div>


        </div>




        <div name="Hero_Banner" class="d-flex justify-content-center">

            <div class="Main_nav_large">


                <div class="Main_nav d-flex justify-content-around align-items-center">

                    <img class="" src="{% static 'IMG/Logo/logo.jpg' %}" alt="">


                    <div class="d-flex justify-content-center align-items-center gap-5">
    
                        <a class="dropColor roboto" href="#">Regular Program</a>
                        <a class="dropColor roboto" href="#">Service</a>
                        <a class="dropColor roboto" href="#">Current Dashboard</a>
    
                    </div>
    
    
                    <div>
                        
                        <button class="roboto text-light">Contact</button>
    
                    </div>

                </div>


                <div class="Hero_Title_padding d-flex align-items-center">

                    <h1 class="roboto text-light Hero_Banner_Text">Welcome To <br> <span class="EAG">EAG 6K</span> Ethiopia</h1>

                </div>


            </div>


            <div class="Main_nav_Container">

            </div>

        </div>



        <div class="Second_banner_Container">

            <div class="Card_container">

                <div class="Main_Card">

                    

                </div>

            </div>

                <div class="Second_banner"></div>

        </div>


    </div>
    
</body>
</html>