{% load static %}

<!DOCTYPE html>
<html lang="en">

    {% include "Include/IndexHead.html" %}

<body>


    <!-- <div class="Loading_Session d-flex justify-content-center align-items-center">

        <img class="SizeLogo" src="{% static 'IMG/Logo/logo.jpg' %}" alt="">

    </div> -->

    <div class="All_Container">


        <div class="Hero_Banner">


            <div class="min_nav d-flex justify-content-center align-items-center gap-4">

                <p class="roboto m-0 text-light">For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life</p>

                <h5 class="sizeFO roboto m-0">John 3:16</h5>

            </div>


        </div>




        <div name="Hero_Banner" class="first_container d-flex justify-content-center">

            <div class="Main_nav_large">


                <div class="Main_nav d-flex justify-content-around align-items-center">

                    <img class="" src="{% static 'IMG/Logo/logo.jpg' %}" alt="">


                    <div class="d-flex justify-content-center align-items-center gap-5">
    
                        <a class="dropColor roboto" href="#">Regular Program</a>
                        <a class="dropColor roboto" href="#">Service</a>
                        <a class="dropColor roboto" href="#">Current Dashboard</a>
    
                    </div>
    
    
                    <div>
                        
                        <button class="roboto text-light">Contact</button>
    
                    </div>

                </div>


                <div class="Hero_Title_padding d-flex align-items-center">

                    <h1 class="roboto text-light Hero_Banner_Text">Welcome To <br> <span class="EAG">EAG 6K</span> Ethiopia</h1>

                </div>


                <div class="socia_media_container">

                    <img class="socia_media_icon" src="{% static 'Icon/facebook.png' %}" alt="">
                    <img class="socia_media_icon" src="{% static 'Icon/youtube.png' %}" alt="">
                    <img class="socia_media_icon" src="{% static 'Icon/telegram.png' %}" alt="">
                    <img class="socia_media_icon" src="{% static 'Icon/global.png' %}" alt="">

                </div>


            </div>


            <div class="Main_nav_Container">

            </div>

        </div>



        <div class="Second_banner_Container Second_banner">

            <div>

                <div class="Card_container pt-5 pb-5">

                    <div class="Main_Card d-flex justify-content-center align-items-center">

                        <img class="Card_img" src="{% static 'SecondICON/bible.png' %}" alt=" ">
    
                    </div>
    
                    <div class="Main_Card d-flex justify-content-center align-items-center">
    
                        <img class="Card_img" src="{% static 'SecondICON/image3.png' %}" alt=" ">
    
                    </div>
    
                    <div class="Main_Card d-flex justify-content-center align-items-center">
    
                        <img class="Card_img" src="{% static 'SecondICON/image2.png' %}" alt=" ">
    
                    </div>

                </div>

                <div class="bible_verse pt-3">

                    <h1 class="roboto text-light bible_verse_title">Daily Bible Verse</h1>

                    <div>

                        <h5 class="bible_limiter text-light">"For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life."
                        </h5>

                        <h4 class="bible_location roboto pt-3">John 3:16</h4>

                    </div>

                    <div class="icon_container pt-4">

                        <div class="Bible_icon_Container">

                            <img class="Main_bible_icon" src="{% static 'Icon/Daily_Icon/right.png' %}" alt="">

                        </div>
                        
                        <div class="Bible_icon_Container">

                            <img class="Main_bible_icon" src="{% static 'Icon/Daily_Icon/left.png' %}" alt="">

                        </div>

                    </div>
    
                </div>

            </div>

        </div>

        <div class="Third_banner">

            <h1 class="Third_banner_title roboto text-light text-center pt-4">Sunday School Children Service & Program</h1>

            <div>

                <h1 class="Third_banner_number roboto text-light">4<span>+</span></h1>
                <h1 class="Third_banner_number roboto text-light">5<span>+</span></h1>
                <h1 class="Third_banner_number roboto text-light">150<span>+</span></h1>

            </div>

        </div>


    </div>
    
</body>
</html>