{% load static %}

<div class="HeroBannerImg HeroIMG">

    <div class="centerNav">

        <div class="MainNavBar">


            <div>
    
                <img class="NavLogo" src='{% static "IMG/Logo/Logo.jpg" %}'' alt="">
    
            </div>
    
            <div>
    
                <a href="#">Contact</a>
    
            </div>
    
    
        </div>

    </div>

    <div class="pt-5">

        <div>

            <h1 class="HeroTitle robotoBold text-light">Welcome To <br> <span class="CenterTitle">EAG 6K</span><br>Church</h1>

        </div>

    </div>

</div>