{% load static %}

<div class="HeroBannerImg HeroIMG">

    <div class="centerNav">

        <div class="MainNavBar">


            <div>
    
                <img class="NavLogo" src='{% static "IMG/Logo/Logo.jpg" %}'' alt="">
    
            </div>

            <div>

                <div class="dropdown">
                    <a class="btn btn-transparent dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown link
                    </a>
                  
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>

                  <div class="dropdown">
                    <a class="btn btn-transparent dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown link
                    </a>
                  
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>

                  <div class="dropdown">
                    <a class="btn btn-transparent dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown link
                    </a>
                  
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>

            </div>
    
            <div>
    
                <a href="#">Contact</a>
    
            </div>
    
    
        </div>

    </div>

    <div class="d-flex justify-content-between align-items-center">

        <div>

            <h1 class="HeroTitle robotoBold text-light text-center">Welcome To <br> <span class="CenterTitle">EAG 6K</span><br>Church</h1>

        </div>

        <div>

            <h1></h1>

        </div>

    </div>

</div>